<p id="notice"><%= notice %></p>

<p>
  <strong>Streetaddress:</strong>
  <%= @location.street_address %>
</p>

<p>
  <strong>Postcodeaddress:</strong>
  <%= @location.postcode_address %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
