<div>
  <%= form_for(@gig) do |f| %>
  <% if @gig.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

    <ul>
      <% @gig.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>



  <div class="field">
    <%= f.text_field :name, :placeholder => "name"%>
  </div>
  <div class="field">
    <%= f.text_field :price, :placeholder => "price" %>
  </div>
  <div class="field">
    <%= f.file_field :gig_image, :placeholder => "photo url" %>
  </div>
  <div class="field">
    <%= f.text_field :start_time, :placeholder => "Start Time" %>
  </div>
  <div class="field">
    <%= text_field_tag "location[street_address]", "Street Address" %>
  </div>
  <div class="field">
    <%= text_field_tag "location[postcode_address]", "Postcode Address" %>
  </div>

  <div class="field">
   <%= f.text_field :remote_gig_image_url, :placeholder => "Remote Gig Image Url" %>
 </div>

 <div class="actions">
  <%= f.submit %>
</div>
<% end %>
</div>
