<div class="row">

  <p id="notice"><%= notice %></p>
  <%= link_to 'New Gig', new_gig_path %>
  <h1>Listing Gigs</h1>
  <%= form_tag gigs_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], :placeholder => "Search Gigs"%>
  <%#= submit_tag "Search" %>
  <% end %>

  <ul class=row>
    <% @gigs.each do |gig| %>
    <li class="song large-3 medium-4 columns">
      <ul class="tile">
        <li class="image"><%= image_tag gig.gig_image.url %></li>
        <div id="gig-content">
        <li id="artist_name"><%= gig.name %></li>
        <li><%= gig.location.street_address %></li>
        <li><%= link_to 'Show Me More', gig %></li>
        <%if current_user == gig.user %>
        <li><%= link_to 'Edit Gig', edit_gig_path(gig) %></li>
        <li><%= link_to 'Delete', gig, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </div>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>



  <div id="map"></div>

  <br>


</div>