<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gig.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gig.price %>
</p>

<p>
  <strong>Photourl:</strong>
  <%= image_tag @gig.photo_url, :width => 200, :height => 250 %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @gig.start_time %>
</p>

<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
