<!DOCTYPE html>
<html>
<head>
  <title>Giggle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi1hHCeRpJ5mCf-9wviYpsUXRYRZgk984"></script>

</head>

<body class="<%= controller_name %>">
  <main>
<!--  <h1><%= link_to "Home", root_path %></h1> -->
     

  <div class='login'>
    <% if current_user %>
      <!--  <%= current_user.email %> -->
       <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
       <%= link_to "Sign In", new_user_session_path %>
       <%= link_to "Register", new_user_registration_path %>
    <% end %>
  </div>

    <%= yield %>
  </main>

</body>
</html>
